<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peak Finder</title>
    <link href="style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <h1>Welcome to Peak Finder!</h1>
    # [ <a href="home">Home</a> |  <a href="find-peak">Find Peak</a> |  <a href="faq">FAQ's</a> |  <a href="search">Search</a> ]
    <p>This site allows you to find the highest peak in a selected U.S. State.</p>
</body>
</html>